@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  max-width: 1080px;
  position: relative;
}

.right-triangle {
  border-color: transparent #431859 transparent transparent;
  border-style: solid;
  border-width: 0 1080px 150px 0;
  height: 0;
  position: absolute;
  top: 0;
  width: 0;
}

.left-triangle {
  border-color: #8e1594 transparent transparent transparent;
  border-style: solid;
  border-width: 150px 600px 0 0;
  height: 0;
  position: absolute;
  top: 0;
  width: 0;
}

.main-content {
  display: grid;
  grid-template-columns: 30% 70%;
}

.photo {
  border-radius: 50%;
  max-width: 200px;
  padding: 1.3em;
}

.contact-block {
  padding: 0.3em;
}

.contact-block a {
  color: black;
  text-decoration: none;
}

.contact-block i {
  color: #431859;
}

.content {
  padding: 3em;
  padding-top: 9em;
}

.content h1 {
  text-align: center;
  padding-bottom: 1em;
}

.content-block {
  padding-bottom: 2em;
}

.content-block h2,
.info-column h2 {
  color: #431859;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 800;
  padding-bottom: 1em;
}

.content-block p {
  padding-bottom: 1em;
}

.content-block span {
  color: #431859;
  font-weight: 800;
}

.content-block h3 {
  color: #431859;
  font-weight: 800;
}

.content-item {
  padding-bottom: 2em;
}

.content-item:last-child {
  padding-bottom: 1em;
}

.info-column {
  background-color: #2d083f38;
  padding: 9em 1em 2em 2.5em;
}

.info-column h3 {
  color: #431859;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 800;
  padding-bottom: 1em;
}

.skill-block h2 {
  padding-top: 1em;
}

.skill {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 0.5em;
}

.dots {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding-right: 1em;
}

.dot {
  border: 1px solid #431859;
  background-color: #431859;
  display: block;
  height: 5px;
  margin-left: 1em;
  width: 5px;
}

.position {
  font-style: italic;
}

ul {
  padding-left: 1.5em;
}

@media screen and (max-width: 1080px) {
  .wrapper {
    position: static;
    width: 100vw;
  }
  .right-triangle,
  .left-triangle {
    display: none;
  }
  .info-column {
    display: flex;
    padding: 1em;
  }
  .photo {
    max-width: 250px;
  }
  .contacts {
    padding: 2em 1em 1em 3em;
  }
  .skill-block {
    display: none;
  }
  .main-content {
    display: flex;
    flex-direction: column;
  }
  .content {
    padding-top: 2em;
  }
  .content-block {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 750px) {
  .info-column {
    display: flex;
    flex-direction: column;
    padding: 1em;
  }
}
